{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block body %}

<div class="container my-3 py-3 border">
    <form action="/" method="POST">
        <h3>Add Todo</h3>
        <div class="mb-3">
            <label for="name" class="form-label">Todo Name</label>
            <input type="text" class="form-control" name="name" id="name" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Todo Description</label>
            <input type="text" class="form-control" name="desc" id="desc">
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>
</div>

<div class="container my-3 py-3 border">
    <h3>Your Todos</h3>
    {% if alltodo|length == 0 %}
    <div class="alert alert-secondary" role="alert">
        No Todos found. Add your first Todo Now!
    </div>
    {% else %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">SNo</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Date Created</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for todo in alltodo %}
            <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{todo.name}}</td>
                <td>{{todo.desc}}</td>
                <td>{{todo.date_created}}</td>
                <td>
                    <a class="btn btn-sm btn-outline-dark mx-1" href="/update/{{todo.sno}}" type="button">Update</a>
                    <a class="btn btn-sm btn-outline-dark mx-1" href="/delete/{{todo.sno}}" type="button">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

</div>

{% endblock body %}